In [7]:
import yaml
import pandas as pd

pd.set_option("display.max_columns", None)
import math
import logging
import matplotlib.pyplot as plt
import numpy as np

import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir) 
import psse as psse


import pandapower as pp
import pandapower.networks as nw
import pandapower.topology as top
import pandapower.plotting as plot

from datetime import datetime, timedelta
from collections import defaultdict
from itertools import chain
from operator import methodcaller
from plotting import ppplotlytweaked as ppptw
import plotly.graph_objs as go
import pandapower as pp
import pandas as pd


try:
    import seaborn

    colors = seaborn.color_palette()
except:
    colors = ["b", "g", "r", "c", "y"]
    
from grid.grid import Grid, generate_config_from_project, combine_dict
from analysis import analysis

In [2]:
net = pp.from_json( os.path.join(parentdir,'data\svedala.json'))

In [3]:
project_file = os.path.join(parentdir,'data\empty_projects.pkl')
projects = pd.DataFrame(columns=['Start', 'End', 'Object_type','ObjectID', 'Status'])#pd.read_pickle(project_file)

In [4]:
test_grid = Grid('test',net, {}, projects)

In [5]:
test_grid.grid.line

,name,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,g_us_per_km,max_i_ka,df,parallel,type,in_service,alpha,temperature_degree_celsius
0,line 0,None,11,511,1.0,2.103165,14.716687,209.586756,0.0,2.0,1.0,2,None,True,NaN,65.0
1,line 1,None,13,422,1.0,1.600000,12.800000,397.887358,0.0,2.0,1.0,1,None,True,NaN,65.0
2,line 2,None,13,151,1.0,8.000000,72.000000,2785.211504,0.0,2.0,1.0,1,None,True,NaN,65.0
3,line 3,None,13,402,1.0,6.400000,64.000000,2387.324146,0.0,2.0,1.0,1,None,True,NaN,65.0
4,line 4,None,13,271,1.0,9.600000,96.000000,3580.986220,0.0,2.0,1.0,1,None,True,NaN,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,line 70,None,531,242,1.0,1.229675,3.904975,254.647909,0.0,2.0,1.0,1,None,True,NaN,65.0
71,line 71,None,532,522,1.0,1.229675,3.904975,254.647909,0.0,2.0,1.0,1,None,True,NaN,65.0
72,line 72,None,541,311,1.0,0.355100,0.537300,1706.140990,0.0,2.0,1.0,1,None,False,NaN,65.0
73,line 73,None,542,292,1.0,1.689458,13.519305,314.380135,0.0,2.0,1.0,2,None,True,NaN,65.0
74,line 74,None,561,301,1.0,0.029040,0.097405,31.567923,0.0,2.0,1.0,1,None,True,NaN,65.0

In [8]:
proj_start_date = datetime.strptime('2021-08-01', "%Y-%m-%d").date()
proj_end_date = datetime.strptime('2021-08-05', "%Y-%m-%d").date()
new_proj = {'Start': proj_start_date, 'End': proj_end_date, 'Object_type': 'line',
            'ObjectID': 'line 0', 'Status': False}

In [9]:
config_to_test = combine_dict(test_grid.config_dict,generate_config_from_project(new_proj))

In [10]:
config_to_test

{datetime.date(2021, 8, 3): [{'Object_type': 'line',
   'ObjectID': 'line 0',
   'Status': False}],
 datetime.date(2021, 8, 5): [{'Object_type': 'line',
   'ObjectID': 'line 0',
   'Status': False}],
 datetime.date(2021, 8, 1): [{'Object_type': 'line',
   'ObjectID': 'line 0',
   'Status': False}],
 datetime.date(2021, 8, 4): [{'Object_type': 'line',
   'ObjectID': 'line 0',
   'Status': False}],
 datetime.date(2021, 8, 2): [{'Object_type': 'line',
   'ObjectID': 'line 0',
   'Status': False}]}

In [ ]:
for

In [ ]:
        #select active config based on time and config_dict with approved plans and new plan
        test_grid.active_config = config_to_test[proj_start_date]
        test_grid.config()

        #Analyse active config
        analysis_res = analysis.check_violations(test_grid.grid)
        print(analysis_res)

        #Restore to normal before proceeding
        test_grid.restore()